.body {
	background-image: url('../imagens/fundo.png');

}
.pagina {
	padding: 15px;
}

.titulo {
	font-family: "Times New Roman";
	color: limegreen;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}

p {
	font-style: "Arial";
	text-align: justify;
}

strong {
	font-weight: bold;
}

.italico,
blockquote,
q {
	font-style: italic;
}

blockquote {
	text-align: justify;
}
