
table {
	border-collapse: collapse;
	max-width: 600px;
	text-align: center;
	font-family: "Arial";
	margin-left: auto;
	margin-right: auto;
}

table * {
	border: 2px solid silver;
	padding: 5px 20px;
}

th {
	font-weight: bold;
}
